body{
    font-family: "Courier";
    font-size:12pt;

    padding: 30px;
    margin: 20px;
    border: 5px solid #052f80;

    text-align: left;
    background-color: #050821;
    color: #ffffff;
}

.artist{
    color: #8ebdff;
}
