body{
    font-family: "Courier";
    font-size:12pt;

    padding: 30px;

    text-align: left;
    background-color: #050821;
    color: #ffffff;
}


.artist{
    color: #348BCA; /* matched to link colour */
}

a:hover{
    color: #00aa00;
    text-decoration: none; /* no underline */
}
